@inherits DisplayBase

<div class="display-frame">
    <div class="display-secondary display">
        <p>@SecondaryDisplay</p>
    </div>
    <div class="display-primary display">
        <p>@PrimaryDisplay</p>
    </div>
</div>