
<div class="keypad-frame">
    <button @onclick="HandleBackspaceButton" class="top-row-button btn">del</button>
    @if (AcToggle)
    {
        <button @onclick="HandleClearButton" class="top-row-button btn">C</button>
    }
    else
    {
        <button @onclick="HandleClearButton" class="top-row-button btn">AC</button>
    }
    <button @onclick="HandleSignToggleButton" class="top-row-button btn">&plusmn;</button>
    <button @onclick="() => HandleOperatorClick('/')" class="operator-btn btn">/</button>
    
    <button @onclick="() => HandleNumpadClick('1')" class="numpad-btn btn">1</button>
    <button @onclick="() => HandleNumpadClick('2')" class="numpad-btn btn">2</button>
    <button @onclick="() => HandleNumpadClick('3')" class="numpad-btn btn">3</button>
    <button @onclick="() => HandleOperatorClick('*')" class="operator-btn btn">*</button>
    
    <button @onclick="() => HandleNumpadClick('4')" class="numpad-btn btn">4</button>
    <button @onclick="() => HandleNumpadClick('5')" class="numpad-btn btn">5</button>
    <button @onclick="() => HandleNumpadClick('6')" class="numpad-btn btn">6</button>
    <button @onclick="() => HandleOperatorClick('-')" class="operator-btn btn">-</button>
    
    <button @onclick="() => HandleNumpadClick('7')" class="numpad-btn btn">7</button>
    <button @onclick="() => HandleNumpadClick('8')" class="numpad-btn btn">8</button>
    <button @onclick="() => HandleNumpadClick('9')" class="numpad-btn btn">9</button>
    <button @onclick="() => HandleOperatorClick('+')" class="operator-btn btn">+</button>
    
    <button @onclick="ExperienceHappinessAndJoy" class="numpad-btn btn">:-)</button>
    <button @onclick="() => HandleNumpadClick('0')" class="numpad-btn btn">0</button>
    <button @onclick="() => HandleCommaButton('.')" class="numpad-btn btn">,</button>
    <button @onclick="HandleEvaluateButton" class="operator-btn btn">=</button>
</div>

