body, main, article {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #17161c;
}


#app {
    width: 100%;
}

.page{
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.calculator-frame {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 570px;
    border-radius: 8px;
    background-color: #536465;
}

.display-frame {
    min-height: 120px;
    border: solid black 1px;
    margin-bottom: 20px;
}

.keypad-frame {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

button {
    border: none;
    width: 100%;
    height: 100%;
}

.btn {
    cursor: pointer;
    /*height: 40px;*/
    /*width: 40px;*/
    /*margin: 5px;*/
    border-radius: 8px;
}

.calculator-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  
    margin: 15px;
    border-radius: 8px;
    
    background-color: #667266;
}