:root {
    --background: #17161c;
    --calculator-color: #798d77;
    --btns-main: antiquewhite;
    --btns-top: #c1d3d0;
    --btns-right: #e1d193;
}

body, main, article {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--background);
}

p, body, main, article{
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
}

.page{
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.calculator-frame {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 570px;
    border-radius: 8px;
    background-color: var(--calculator-color);
}

.display-frame {
    display: flex;
    flex-direction: column;

    padding: 15px;
    min-height: 120px;
    margin-bottom: 20px;
    background-color: var(--btns-main);
    border-radius: 8px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    
    font-family: sans-serif;
    width: 100%;
    /*border: solid black 1px;*/
}

.display-primary {
    font-size: 2.6rem;
}

.display-secondary {
    font-size: 1.6rem;
    color: #867a4d;
}

.keypad-frame {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

button {
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.7em;
}

.btn:hover {
    border: solid #3e5b3b 1px;
}

.btn:active {
    width: 103%;
    height: 103%;
}

.numpad-btn {
    background-color: var(--btns-main);
}

.operator-btn {
    background-color: var(--btns-right);
}

.top-row-button {
    background-color: var(--btns-top); 
}

.calculator-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 15px;
    border-radius: 8px;
}